#about {
    min-height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#services {
    min-height: 100%;
    width: 100%;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#portfolio {
    min-height: 100%;
    width: 100%;
}

#contact {
    min-height: 100%;
    width: 100%;
    background: transparent;
}

.affix-top {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 998;
}

.affix {
    top: 0;
    right: 0;
    z-index: 998;
}

#mainContainer {
    height: 100%;
}

#dotNav {
    z-index: 880;
    right: 0;
    padding: 7px;
    padding-top: 150px;
}

#dotNav ul {
    list-style: none;
    margin: 0;
}

#dotNav li {
    position: relative;
    background: none repeat scroll 0 0 #cccccc;
    border: 1px solid #aaaaaa;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    height: 12px;
    margin: 10px 10px 0px 0px;
    width: 12px;
    vertical-align: bottom;
}

#dotNav li.active {
    background-color: #0979e1;
    background-image: -moz-linear-gradient(center top, #0979e1, #086cc8);
    background-repeat: repeat-x;
}

#dotNav li:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

#dotNav a {
    outline: 0;
    vertical-align: top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top: -5px;
}
