=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

.ani_move
	position: absolute
	float: right
	width: 60px
	opacity: 1
.service-box
	text-align: center
	width: 200px
.service-box i 
	background: #0979e1
	display: inline-block
	color: #fff
	padding: 16px
	+border-radius(10px)
	-webkit-transition: 0.3s ease-in-out
	-moz-transition: 0.3s ease-in-out
	-o-transition: 0.3s ease-in-out
	transition: 0.3s ease-in-out
.i_hover
	-webkit-transform: scale(0)
	-moz-transform: scale(0)
	-o-transform: scale(0)
	-ms-transform: scale(0)
	transform: scale(0)
	transition-timing-function: cubic-bezier(0,1,0.5,0)
.service-box p
	display: none
.service-box h3
	display: none
	position: relative
	color: #0979e1
	margin-top: -90px
.lighted
	z-index: 19
	opacity: 0
	width: 200px
	position: absolute
.ani_move1, .ani_move2, .ani_move3
	@extend .ani_move
.ani i 
	color: #fff
	font-size: 40px
	position: absolute
	display: none
	z-index: 26
.ani_loading 
	position: absolute
	z-index: 20
	width: 36px
.ani_dot
	width: 8px
	position: absolute
	display: none
	z-index: 26
.ani
	width: 100%
	height: 400px
.intro
	display: block
	background: #f1f1f1
	width: 100%
	margin-top: -100px
	padding: 20px 20px
.intro a
	color: #333
.intro_contact
	position: relative
	bottom: 0
	display: block
	background: #f1f1f1
	padding-top: 50px
ul li
	list-style: none
.foot
	position: relative
	left: 0
	width: 100%
	background: #333
	color: #ccc
	padding-top: 10px
	margin-top: 50px
	height: 48px
.btn_back a
	position: absolute
	right: 20px
	color: #ccc
form, input, textarea
	margin: 16px
.navbar-toggle
	+border-radius(2px)
.section-slogan
	clear: both
	height: 100%
	margin-top: 2.8em
	display: block
	color: rgba(255,255,255,1)
	font-weight: 700
.row_gray
	background: #f1f1f1
.text-faded i
	+border-radius(4em)
	font-size: 2em
	display: inline-block
	width: 3em
	height: 3em
	padding: 24px
	margin-bottom: 20px
	border: 0.12em solid #999
.portfolio-box:hover .text-faded i
	border: 0.12em solid #000